<div class="container-fluid card">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <label class="page_SubHeading">ANNOUNCEMENTS</label>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Building :</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control" [(ngModel)]="buildingID" name="buildingID" (change)="getBuildingID($event)">
                <option selected value=0>Select Building</option>
                <option *ngFor="let list of buildingList" value="{{list.id}}">{{list.name}}</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Floor :</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control" name="floorID" [(ngModel)]="floorID">
                <option selected value=0>Select Floor</option>
                <option *ngFor="let list of floorList" value="{{list.floorID}}">{{list.floor}}</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Announcement :</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Announcement">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Description :</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" [(ngModel)]="description" name="description" placeholder="Description">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Date :</label>
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" name="date" [(ngModel)]="date">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Time :</label>
        </div>
        <div class="col-lg-4">
            <input type="time" class="form-control" [(ngModel)]="time" name="time">
        </div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Announcement Details :</label>
        </div>
        <div class="col-lg-4">
            <textarea type="text" rows="5" class="form-control" placeholder="Announcement Details"
                [(ngModel)]="reason"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Venue :</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" [(ngModel)]="venue" name="venue" placeholder="venue">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Attachment :</label>
        </div>
        <div class="col-lg-4">
            <ngx-dropzone (change)="onattachmentUpload($event)">
                <ngx-dropzone-label>Drag and drop file here</ngx-dropzone-label>
            </ngx-dropzone>
        </div>
        <div class="col-lg-4" >
            <img src="{{attachmentsurl}}" style="height: 40vh;width: 100%;">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <!-- <button type="button" class="addbtn" (click)="insertDetails()">Save</button> -->
            <button type="button" class="addbtn" *ngIf="paramID==undefined" (click)="insertDetails()">Save</button>
            <button type="button" class="addbtn" *ngIf="paramID != undefined" (click)="updatedetails()">Update</button>
        </div>
    </div>
    <br>
