
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
        </div>
        <div class="col-lg-2">
            <button type="button" class="addbtn" routerLink="/ProjectList">ADD</button>
        </div>
    </div>
</div>
<br>
<div class="container-fluid card">
    <br>
    <label class="page_SubHeading">PROJECT LIST DASHBOARD</label>
    <hr>
    <div class="row">
        <div class="col-lg-3">
            <input type="search" class="form-control" placeholder="Search...">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>

                    <th style="text-align: center;">Project Name</th>
                    <th style="text-align: center;">Project Code</th>
                    <th style="text-align: center;">Description</th>
                    <th style="text-align: center;">SPOC</th>
                    <th style="text-align: center;">Client Name</th>
                    <th style="text-align: center;">Client PhoneNo</th>
                    <th style="text-align: center;">ClientEmailID</th>

                    <th>Action</th>
                </tr>
                <tr *ngFor="let list of projectIDTypeList">
                    <td style="text-align: center;">{{list.projectName}}</td>
                    <td style="text-align: center;">{{list.projectCode}}</td>
                    <td style="text-align: center;">{{list.description}}</td>
                    <td style="text-align: center;">{{list.spoc}}</td>
                    <td style="text-align: center;">{{list.clientName}}</td>
                    <td style="text-align: center;">{{list.clientPhoneNo}}</td>
                    <td style="text-align: center;">{{list.clientEmailID}}</td>
                    
                    <td>
                        <img src="assets/images/edit.png"  [routerLink]="['/ProjectTypeID',list.id]" style="width: 20px;">&nbsp;
                        <img src="assets/images/dell.png" style="width: 20px;" (click)="DeleteProjectMaster(list.id)">  
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br>
</div>


