
<div class="container-fluid card">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <label class="page_SubHeading"> STAFF LEAVE DASHBOARD</label>
            <hr> 
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Building : </label>
        </div>
        <div class="col-lg-4">
            <select class="form-control"  name="building">
                <option selected value="">Select Building</option>

            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Staff Name</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Chapter Number" name="chapterNumber">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Leave Type</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Leave Type " name="leaveType">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Start Date</label>
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>End Date</label>
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Approver </label>
        </div>
        <div class="col-lg-4">
            <select class="form-control"  name="building">
                <option selected value="">Select Approver</option>
  
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Take Away  </label>
        </div>
        <div class="col-lg-4">
            <textarea class="form-control" rows="4" placeholder="Take Away"  name="takeAway"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Covering Staff </label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Covering Staff"  name="coveringStaff">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Reason  </label>
        </div>
        <div class="col-lg-4">
            <textarea class="form-control" rows="4" placeholder="Reason"  name="reason"></textarea>
        </div>
    </div>
    <br>
  
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addbtn" >Save</button>
           
        </div>
    </div>
    <br>
</div>