<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
        </div>
        <div class="col-lg-2">
            <button type="button" class="addbtn" (click)="appliedexportexcel()">Export To Excel</button>
        </div>
        <!-- <div class="col-lg-2">
            <button type="button" class="addbtn" routerLink="/StaffLeave">Apply Leave</button>
        </div> -->
    </div>
</div>
<br>
<div class="container-fluid card">
    <br>
    <label class="page_SubHeading">APPLIED LEAVE DASHBOARD</label>
    <hr>

    <br>
    <div class="row">
        <div class="col-lg-3">
            <input type="search" class="form-control" [(ngModel)]="Search" placeholder="Search...">
        </div>
        <div class="col-lg-3">
            <input type="text" placeholder="Select Date" class="form-control" bsDaterangepicker [(ngModel)]="value"
                (ngModelChange)="selectedDate($event)">
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
            <h4 style="float:right">Count : {{appliedleaveList.length}}</h4>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>

                    <th>Building</th>
                    <th>Leave Type</th>
                    <th>Staff Name</th> 
                    <th>Applied Date</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>No Of Days Leave</th>
                    <th>Reason</th>
                    <th>Covering Staff</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor="let list of appliedleaveList|filter:Search">
                    <td>{{list.building}}</td>
                    <td>{{list.leavetype}}</td>
                    <td>{{list.staffName}}</td> 
                    <td>{{list.applieddate|date}}</td>
                    <td>{{list.sDateOfLeave}}</td>
                    <td>{{list.eDateOfLeave}}</td>
                    <td>{{list.noOfDays}}</td>
                    <td>{{list.leaveReason}}</td>
                    <td>{{list.coveringStaff}}</td>
                    <td>{{list.status}}</td>
                   
                </tr>
            </table>

            <br>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reject Reason</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-3">
                        <label>Reject Reason :</label>
                    </div>
                    <div class="col-lg-8">
                        <textarea type="text" rows="5" class="form-control" [(ngModel)]="rejectReason" placeholder="RejectReason"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn primary btn-xs" data-dismiss="modal" (click)="rejectStaffLeaveReason()" >Save</button>
            </div>
        </div>
    </div>
</div>
