<div class="container-fluid card">
  <br>
  <label class="page_SubHeading">My Projects</label>
  <hr>

  <br>
  <div class="row ">
    <div class="col-lg-4" *ngFor="let event of projectList1">
      <div>
        <div class="packcard" style="width: 100%;">
          <br>
          <div class="maincard">
            <h4><b>Project Name :</b>{{event.projectName}}</h4>
            <h4><b>Project Code :</b> {{event.projectCode}}</h4>
            <h4><b>Description:</b> {{event.description}}</h4>
            <h4><b>Start Date:</b> {{startdate}}</h4>
            <h4><b>End Date:</b> {{enddate}}</h4>
            <!-- <h4><b>Designation :</b> {{event.designation}}</h4>
            <h4><b>Department :</b> {{event.department}}</h4>
            <h4><b>Address :</b> {{event.address}}</h4>
            <h4><b>Country Name :</b> {{event.countryName}}</h4>
            <h4><b>State Name :</b> {{event.stateName}}</h4>
            <h4><b>City Name :</b> {{event.cityName}}</h4>
            <h4><b>Pincode :</b> {{event.pincode}}</h4> -->
            <br>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-12">
        <table>
          <tr>
            <th>Action</th>
            <th>Staff</th>
            <th>Project</th>
            <th>Start Date</th>
            <th>End Date</th>
  
          </tr>
          <tr *ngFor="let list of mappedProjectList|filter:search">
            <td><img src="assets/images/edit.png" title="Update" [routerLink]="['/StaffProjectMapping',list.id]"
                style="width: 20px;"> &nbsp;
              <img src="assets/images/dell.png" style="width: 20px;"
                (click)="DeleteWorkplaceRequest(list.id)">&nbsp;&nbsp;
            </td>
            <td>{{list.name}}</td>
            <td>{{list.projectID}}</td>
            <td>{{list.startDate}}</td>
            <td>{{list.endDate}}</td>
  
  
          </tr>
        </table>
      </div> -->
  </div>
  <br>
</div>
