<div class="container-fluid card">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <label class="page_SubHeading"> EXPENSE TYPE </label>
            <hr> 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Inventory Type</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control" [(ngModel)]="inventoryTypeID" name="inventoryTypeID" >
                <option value="0" selected>Select Inventory Type</option>
                <option *ngFor="let list of inventoryList" value="{{list.id}}">{{list.inventoryType}}</option>
            </select>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Inventory Name</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="inventoryName"  [(ngModel)]="inventoryName" placeholder="Inventory Name">
        </div>
    </div>
    <br>
    
  
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addbtn" (click)="InsertDetails()">Save</button>
            <!-- <button type="button" class="addbtn" *ngIf="paramID != undefined" (click)="updatedetails()">Update</button> -->
        </div>
    </div>
    <br>
</div>
