<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
        </div>
        <div class="col-lg-2">
            <button type="button" class="addbtn" (click)="exportexcel()">Export To Excel</button>
        </div>
        <div class="col-lg-2"> 
            <button type="button" class="addbtn" routerLink="/AddLocatorRequest">New Request</button>
        </div>
    </div>
</div>
<br>

<div class="container-fluid card">
    <br>
    <label class="page_SubHeading">LOCATOR DASHBOARD</label>
    <hr>
    <div class="row">
        <div class="col-lg-3">
            <input type="search" class="form-control" [(ngModel)]="Search" placeholder="Search...">
        </div>
        <div class="col-lg-3">
            <select class="form-control" [(ngModel)]="project" name="project" (change)="getproject($event)">
                <option value="0" selected>Select Project</option>
                <option *ngFor="let list of projectlist" value="{{list.projectName}}">{{list.projectName}}</option>
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" [(ngModel)]="transportationType" name="transportationType" (change)="gettransportationType($event)">
                <option value="0" selected>Select Transportation Type</option>
                <option *ngFor="let list of transportationtypelist" value="{{list.name}}">{{list.name}}</option>
            </select>
        </div>
        <div class="col-lg-2">
            <h4 style="float:right">Count : {{LocatorRequestsList.length}}</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <!-- <th>Actions</th> -->
                    <!-- <th>Name</th> -->
                    <th>Project</th>
                    <th>Transportation Type</th>
                    <th>Date</th>
                    <th>Purpose</th>
                    <th>Contact Person</th>
                    <th>Contact PhNo</th>
                    <th>Time Of Departure</th>
                    <th>Time Of Return</th>
                    <th>Destination</th>
                    <th>No Of Hrs</th>

                </tr>
                <tr *ngFor="let list of LocatorRequestsList|filter:Search">
                    <!-- <td><img src="assets/images/edit.png" title="Update"  style="width: 20px;"> &nbsp;
                        <img src="assets/images/dell.png" title="Delete"  style="width: 20px;"></td> -->
                    <!-- <td>{{list.name}}</td> -->
                    <td>{{list.project}}</td>
                    <td>{{list.transportationType}}</td>
                    <td>{{list.date|date}}</td>
                    <td>{{list.purpose}}</td>
                    <td>{{list.contactPerson}}</td>
                    <td>{{list.contactPhNo}}</td>
                    <td>{{list.timeOfDeparture}}</td>
                    <td>{{list.timeOfReturn}}</td>
                    <td>{{list.destination}}</td>
                    <td>{{list.hourDiff}}</td>
                    


                </tr>
            </table>
        </div>
    </div>
    <br>
</div>
