
<div class="container-fluid card">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <label class="page_SubHeading"> STAFF LEAVE DASHBOARD</label>
            <hr> 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Request By</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="requestBy">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Transportation Type </label>
        </div>
        <div class="col-lg-4">
            <select class="form-control"  name="transportationType">
                <option selected value="">Select Transportation Type</option>
  
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Date</label>
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Project</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control"  name="project">
                <option selected value="">Select Project</option>
  
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Destination</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Destination" name="destination">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Purpose</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Purpose" name="purpose">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Contact Person</label>
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" placeholder="Contact Person">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Contact Number</label>
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" placeholder="Contact Number">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Time Of Departure</label>
        </div>
        <div class="col-lg-4">
            <input type="time" class="form-control" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Time Of Return</label>
        </div>
        <div class="col-lg-4">
            <input type="time" class="form-control" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Approver</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control"  name="approver">
                <option selected value="">Select Approver</option>
  
            </select>
        </div>
    </div>
    <br>
  
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addbtn" >Save</button>
           
        </div>
    </div>
    <br>
</div>