<div class="container-fluid card">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <label class="page_SubHeading">ANNOUNCEMENTS</label>
            <hr>
        </div>
    </div>

   
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Punch-In Time :</label>
        </div>
        <div class="col-lg-4">
            <input type="time" class="form-control" [(ngModel)]="latePunchInTime" name="latePunchInTime" placeholder="Punch-In Time">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Punch-Out Time :</label>
        </div>
        <div class="col-lg-4">
            <input type="time" class="form-control" [(ngModel)]="latePunchOutTime" name="latePunchOutTime" placeholder="Punch-Out Time">
        </div>
    </div>
    <br>
  
    
  
   
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
           
            <button type="button" class="addbtn" *ngIf="paramID==undefined" (click)="InsertDetails()">Save</button>
            <button type="button" class="addbtn" *ngIf="paramID != undefined" (click)="updatedetails()">Update</button>
        </div>
    </div>
    <br>
