<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h6>VISITOR REQUEST</h6>
        </div>
    </div>
</div>
<br>
<div class="container-fluid card">
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Building</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control" [(ngModel)]="buildingID" name="buildingID">
                <option value="0" selected>Select Building</option>
                <option *ngFor="let list of buildinglist" value="{{list.id}}">{{list.name}}</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Visitor Name</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Visitor Name" [(ngModel)]="requestBy" name="requestBy">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Address</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Address" [(ngModel)]="address" name="address">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Visitor For</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Reason" [(ngModel)]="reason" name="reason">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Visiting To :</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control" [(ngModel)]="staffID" name="staffID" disabled>
                <option selected value="0">Select visiting Person Name</option>
                <option *ngFor="let list of visitingPersonNameList" value="{{list.id}}">{{list.name}}</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>ID Type</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="ID Type" [(ngModel)]="idType" name="idType">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>ID Number</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="ID Number" [(ngModel)]="iDNumber" name="iDNumber">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Visiting Date</label>
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" [(ngModel)]="visitingDate" name="visitingDate">
        </div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-lg-3">
            <label>Visiting Time</label>
        </div>
        <div class="col-lg-4">
            <input type="time" class="form-control"  [(ngModel)]="visitingTime" name="visitingTime">
        </div>
    </div>
    <br>
    <!-- <div class="row">
        <div class="col-lg-3">
            <label>Visitor Type</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control" [(ngModel)]="visitorIDType" name="visitorIDType">
                <option value="0" selected>Select Building</option>
                <option *ngFor="let list of visitorTypeList" value="{{list.id}}">{{list.sort}}</option>
            </select>
        </div>
    </div>
    <br> -->
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addbtn" *ngIf="paramID==undefined" (click)="InsertDetails()">Save</button>
            <button type="button" class="addbtn" *ngIf="paramID!=undefined" (click)="updatedetails()">Update</button> 
        </div>
        <div class="col-lg-5"></div>
    </div>
    <br>
</div>


