
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h6>TECHNOLOGY REQUEST</h6>
        </div>
    </div>
</div>
<br>
<div class="container-fluid card">
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Due Date</label>
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" [(ngModel)]="dueDate" name="dueDate">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Request Type</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Request Type" [(ngModel)]="requestTypeID" name="requestTypeID">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Invoice</label>
        </div>
        <div class="col-lg-5">
            <ngx-dropzone (change)="onBrochureUpload($event)">
                <ngx-dropzone-label>Drag and drop file here</ngx-dropzone-label>
            </ngx-dropzone>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addbtn" (click)="InsertDetails()">Save</button>
            <!-- <button type="button" class="addbtns" *ngIf="paramID!=undefined">Update</button>  -->
        </div>
        <div class="col-lg-5"></div>
    </div>
    <br>
</div>
