<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h4>Task</h4>
        </div>
    </div>
</div>
<br>
<div class="container-fluid card">
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Staff</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control" [(ngModel)]="staffID" name="staffID" >
                <option value="0" selected>Select Staff</option>
                <option *ngFor="let list of staffList" value="{{list.id}}">{{list.name}}</option>
            </select>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-3">
            <label>Task Name</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Task Name" [(ngModel)]="taskName" name="taskName" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Start Date</label>
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" placeholder="Start Date"  [(ngModel)]="startDate" name="startDate">
            <!-- <input type="date" class="form-control" [(ngModel)]="sDateOfLeave" name="sDateOfLeave"> -->
        </div>
    </div>
    <br>
    <div class="row" >
        <div class="col-lg-3">
            <label>End Date</label>
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" placeholder="End Date" [(ngModel)]="endDate" name="endDate">
            <!-- <input type="date" class="form-control" [(ngModel)]="eDateOfLeave" name="eDateOfLeave" (change)="getDay($event)"> -->
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Notes</label>
        </div>
        <div class="col-lg-4">
            <textarea type="text" class="form-control" rows="5" placeholder="Notes" [(ngModel)]="notes" name="notes"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addbtn" *ngIf="page == 's' " (click)="InsertDetails()">Save</button>
            <button type="button" class="addbtn" *ngIf="page =='e' " (click)="updatedetails()">Update</button>
           
        </div>
        <div class="col-lg-5"></div>
    </div>
    <br>
</div>




