<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
    </div>
    <div class="col-lg-2">
      <!-- <button type="button" class="addbtn" routerLink="/NewUser">ADD</button> -->
    </div>
    <div class="col-lg-2">
      <button type="button" class="addbtn" (click)="exportexcel()">Export To Excel</button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card">
  <br>
  <label class="page_SubHeading">USER DASHBOARD</label>
  <hr>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <input type="search" class="form-control" placeholder="Search..." [(ngModel)]="search">
    </div>
    <div class="col-lg-6">

    </div>
    <div class="col-lg-3">
      <h4 style="float:right">Count:{{count}}</h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <div id="NewRequest" class="tabcontent">
        <table>
          <tr>
            <!-- <th>Photo</th> -->
            <th>User Type</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let list of filteredUserList| paginate: { itemsPerPage: 8, currentPage: p }|filter:search">
            <!-- <td><img src="14.192.17.225/DigiOfficeBSINTAPI/Images/StaffInvoice/download-20210428104409.png"
                style="height: 100px;"></td> -->
            <td>{{list.userType}}</td>
            <td>{{list.name}}</td>
            <td>{{list.emailID}}</td>
            <td>{{list.phoneNo}}</td>
            <!-- <td>{{list.userRole}}</td> -->
            <td>
              <!-- <img src="assets/images/edit.png" [routerLink]="['/NewUser',list.id]" style="width: 20px;"> -->
              <br>
              <br>
              <img src="assets/images/activate.png" *ngIf="list.status=='Enabled'|| list.status=='Pending'"
                tilte="Deactivate" style="width:50px;" (click)="DisableUser(list.id)" />
              <img src="assets/images/deactivate.png" *ngIf="list.status=='Disabled'" style=" width:50px;"
                tilte="Activate" (click)="EnableUser(list.id)" />
            </td>
          </tr>
        </table>
        <br>
        <div class="col-lg-12" style="text-align:right;">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
