<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
        </div>
        <!-- <div class="col-lg-2">
            <button type="button" class="addbtn" (click)="appliedexportexcel()">Export To Excel</button>
        </div> -->
        <div class="col-lg-2">
            <button type="button" class="addbtn" routerLink="/PerformanceIndicator">ADD</button>
        </div>
    </div>
</div>
<br>
<div class="container-fluid card">
    <br>
    <label class="page_SubHeading">PERFORMANCE INDIACTOR DASHBOARD</label>
    <hr>

    <br>
    <div class="row">
        <div class="col-lg-3">
            <input type="search" class="form-control" [(ngModel)]="Search" placeholder="Search...">
        </div>
        <!-- <div class="col-lg-3">
            <input type="text" placeholder="Select Date" class="form-control" bsDaterangepicker [(ngModel)]="value"
                (ngModelChange)="selectedDate($event)">
        </div> -->
        <div class="col-lg-3">
            <select class="form-control" (change)="GetkraName($event)">
                <option value="0">
                    Select KRA
                </option>
                <option *ngFor="let det of kraList" value="{{det.kraName}}">{{det.kraName}}</option>
            </select>

        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-2">
            <h6 style="float:right">Count : {{count}}</h6>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <!-- <th>Office Location</th> -->
                    <th>KRA Name</th>
                    <th>Performance Indicator </th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                <tr *ngFor="let list of pilist|filter:Search">

                    <!-- <td>{{list.buildingName}}</td> -->
                    <td>{{list.resultAreaName}}</td>
                    <td>{{list.performanceindicator}}</td>
                    <td>{{list.description}}</td>
                    <td>

                        <ng-template #tipcontent1>Edit</ng-template>
                        <a [ngbTooltip]="tipcontent1" [routerLink]="['/PerformanceIndicator',list.id]"
                            style="color:black">
                            <img src="assets/images/edit.png" style="width: 18px">
                        </a>

                        <ng-template #tipcontent1>Delete</ng-template>
                        <a [ngbTooltip]="tipcontent1" style="color:black">
                            <img src="assets/images/dell.png" style="width: 18px" (click)="Delete(list.id)">
                        </a>
                    </td>
                </tr>
            </table>

            <br>
        </div>
    </div>
</div>