<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
        </div>
        <div class="col-lg-2" *ngIf="Applied">
            <button type="button" class="addbtn" (click)="appliedexportexcel()">Export To Excel</button>
        </div>
        <div class="col-lg-2" *ngIf="Approved">
            <button type="button" class="addbtn" (click)="approvedexportexcel()">Export To Excel</button>
        </div>
        <div class="col-lg-2" *ngIf="Rejected">
            <button type="button" class="addbtn" (click)="rejectexportexcel()">Export To Excel</button>
        </div>
        <div class="col-lg-2">
            <button type="button" class="addbtn" routerLink="/StaffLeave">Apply Leave</button>
        </div>
    </div>
</div>
<br>
<div class="container-fluid card">
    <br>
    <label class="page_SubHeading">STAFF LEAVE DASHBOARD</label>
    <hr>
    <div class="tab">
        <button class="tablinks" (click)="openCity($event, 'NewRequest')" id="def_open">Applied Leave</button>
        <button class="tablinks" (click)="openCity($event, 'Approved')">Approved</button>
        <button class="tablinks" (click)="openCity($event, 'Rejected')">Rejected</button>

    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <input type="search" class="form-control" [(ngModel)]="Search" placeholder="Search...">
        </div>
        <div class="col-lg-7">

        </div>
        <div class="col-lg-2">
            <h4 style="float:right">Count : {{appliedCount}}</h4>
        </div>
        <div class="col-lg-2" *ngIf="Approved">
            <h4 style="float:right">Count : {{approvedCount}}</h4>
        </div>
        <div class="col-lg-2" *ngIf="Rejected">
            <h4 style="float:right">Count : {{rejectCount}}</h4>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-12">

            <div id="NewRequest" class="tabcontent">
                <table>
                    <tr>
                        <!-- <th>Actions</th> -->
                        <th>Building</th>
                        <th>Leave Type</th>
                        <!-- <th>Staff Name</th> -->
                        <th>Applied Date</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>No Of Days Leave</th>
                        <th>Reason</th>
                        <th>Covering Staff</th>
                        <th>Status</th>

                    </tr>
                    <tr *ngFor="let list of filteredleaveList|filter:Search">
                        <!-- <td>
                            <img src="assets/images/dell.png" title="Delete" style="width: 20px;"
                                (click)="DeleteStaffLeaves(list.id)">
                        </td> -->
                        <td>{{list.building}}</td>
                        <td>{{list.leavetype}}</td>
                        <!-- <td>{{list.staffName}}</td> -->
                        <td>{{list.applieddate|date}}</td>
                        <td>{{list.sDateOfLeave}}</td>
                        <td>{{list.eDateOfLeave}}</td>
                        <td>{{list.noOfDays}}</td>
                        <td>{{list.leaveReason}}</td>
                        <td>{{list.coveringStaff}}</td>
                        <td>{{list.status}}</td>


                    </tr>
                </table>
            </div>

            <!-- Approved -->

            <div id="Approved" class="tabcontent">
                <div class="col-lg-12">
                    <table>
                        <tr>
                            <th>Building</th>
                            <th>Leave Type</th>
                            <!-- <th>Staff Name</th> -->
                            <th>Applied Date</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>No Of Days Leave</th>
                            <th>Reason</th>
                            <th>Covering Staff</th>
                            <th>Status</th>
                        </tr>
                        <tr *ngFor="let list of filteredApprovedLeaves|filter:Search">

                            <td>{{list.building}}</td>
                            <td>{{list.leavetype}}</td>
                            <!-- <td>{{list.staffName}}</td> -->
                            <td>{{list.applieddate|date}}</td>
                            <td>{{list.sDateOfLeave}}</td>
                            <td>{{list.eDateOfLeave}}</td>
                            <td>{{list.noOfDays}}</td>
                            <td>{{list.leaveReason}}</td>
                            <td>{{list.coveringStaff}}</td>
                            <td>{{list.status}}</td>

                        </tr>

                    </table>
                </div>
            </div>

            <!-- Rejected -->
            <div id="Rejected" class="tabcontent">
                <div class="col-lg-12">
                    <table>
                        <tr>

                            <th>Building</th>
                            <th>Leave Type</th>
                            <!-- <th>Staff Name</th> -->
                            <th>Applied Date</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>No Of Days Leave</th>
                            <th>Reason</th>
                            <th>Covering Staff</th>
                            <th>Status</th>
                            <th>Reject Reason</th>

                        </tr>
                        <tr *ngFor="let list of filteredRejectedLeaves|filter:Search">

                            <td>{{list.building}}</td>
                            <td>{{list.leavetype}}</td>
                            <!-- <td>{{list.staffName}}</td> -->
                            <td>{{list.applieddate|date}}</td>
                            <td>{{list.sDateOfLeave}}</td>
                            <td>{{list.eDateOfLeave}}</td>
                            <td>{{list.noOfDays}}</td>
                            <td>{{list.leaveReason}}</td>
                            <td>{{list.coveringStaff}}</td>
                            <td>{{list.status}}</td>
                            <td>{{list.rejectReason}}</td>



                        </tr>
                    </table>
                </div>
            </div>

            <br>
        </div>
    </div>
</div>