<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
        </div>
        <!-- <div class="col-lg-2">
            <button type="button" class="addbtn" >ADD</button>
        </div> -->
    </div>
</div>

<div class="container-fluid card">
    <br>
    <label class="page_SubHeading"> APPROVED EXPENSES DASHBOARD</label>
    <hr>
    <div class="row">
        <div class="col-lg-3">
            <input type="search" class="form-control" placeholder="Search..." [(ngModel)]="search">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <th>Employee Name</th>
                    <th>Project Name</th>
                    <th>Submitted Date</th>
                    <th>Expense Type</th>
                    <th>Expense Location</th>
                    <th>Currency</th>
                    <th>Expense Amount</th>
                    <th>Status</th>
                    <th>Comments</th>
                    <th>Attachment</th>
                   
                   
                </tr>
                <tr *ngFor="let list of transportExpensesList|filter:search">
                    
                    <td>{{list.raisedBy}}</td>
                    <td>{{list.project}}</td>
                    <td>{{list.date|date}}</td>
                    <td>{{list.expencesName}}</td>
                    <td>{{list.expenceLocation}}</td>
                    <td>{{list.currency}}</td>
                    <td>{{list.expenceAmount}}</td>
                    <td>{{list.approvalStatus}}</td>
                    <td>{{list.comments}}</td>
                    <td>
                            <img src="assets/images/pdfsample.png" *ngIf="list.type==1"  (click)="GetInvoiceUrl(list)" data-toggle="modal" data-target="#myModalupimage"
                             title="Update" style="width: 50px;">

                            <img src="assets/images/image.png" *ngIf="list.type==0"  (click)="GetInvoiceUrl(list)" data-toggle="modal" data-target="#myModalupimage"
                             title="Update" style="width: 50px;">                  
                </tr>
            </table>
        </div>
    </div>
    <br>
</div>

<div class="modal fade" id="myModalupimage">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-top: 15%;width: 588px;margin-left: 222px;">
            <div class="modal-header">
                <h4>Invoice</h4>

                <button type="button" class="close " data-dismiss="modal">&times;</button>
            </div>
            <div class="row" style="margin-top:5%;">
                <div class="col-lg-12">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                        <a href="{{invoiceURL}}" download>
                            <img src="{{invoiceURL}}" style="width: 350px;">
                        </a>
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-9"> </div>
                <div class="col-lg-3">
                    <button class="dashbutton " style="width: 69px;
                         margin-right: 12px;" type="submit" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>


