<div class="container-fluid card">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <label class="page_SubHeading"> WORK PLACE ALLOCATION</label>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Buildinng</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control" [(ngModel)]="buildingID" name="buildingID" (change)="getBuildingID($event)">
                <option selected value="">Select Building</option>
                <option *ngFor="let list of buildingList" value="{{list.id}}">{{list.name}}</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Floor</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control" [(ngModel)]="floorID" name="floorID" (change)="getFloorID($event)">
                <option selected value="">Select Floor</option>
                <option *ngFor="let list of floorList" value="{{list.id}}">{{list.floor}}</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Type</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control" [(ngModel)]="roomTypeID" name="roomTypeID" (change)="getRoomTypeID($event)">
                <option selected value="">Select Type </option>
                <option *ngFor="let list of roomTypeList" value="{{list.id}}">{{list.short}}</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Conference Room</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control" [(ngModel)]="conferenceRoomID" name="conferenceRoomID">
                <option selected value="">Select Conference Room </option>
                <option *ngFor="let list of conferenceRoomList" value="{{list.id}}">{{list.workSpaceID}}</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Project</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control" [(ngModel)]="projectID" name="project">
                <option selected value="">Select Project</option>
                <option *ngFor="let list of projectList" value="{{list.id}}">{{list.projectName}}</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Purpose</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" [(ngModel)]="purpose" name="purpose" placeholder="Purpose">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Start Date</label>
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" [(ngModel)]="startDate">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>End Date</label>
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" [(ngModel)]="endDate" name="endDate">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Start Time</label>
        </div>
        <div class="col-lg-4">
            <input type="time" class="form-control" [(ngModel)]="startTime" name="startTime">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>End Time</label>
        </div>
        <div class="col-lg-4">
            <input type="time" class="form-control" [(ngModel)]="endTime" name="endTime">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <label>Comments</label>
        </div>
        <div class="col-lg-4">
            <textarea type="text" rows="5" class="form-control" placeholder="Comments"
                [(ngModel)]="comments"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addbtn" (click)="insertDetails()">Save</button>
        </div>
    </div>
    <br>