
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
        </div>
        <div class="col-lg-2">
            <button type="button" class="addbtn" routerLink="/LeaveType">ADD</button>
        </div>
    </div>
</div>
<br>
<div class="container-fluid card">
    <br>
    <label class="page_SubHeading">LEAVE TYPE DASHBOARD</label>
    <hr>
    <div class="row">
        <div class="col-lg-3">
            <input type="search" class="form-control" placeholder="Search..." [(ngModel)]="search">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <th style="text-align: center;">Leave Type </th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let list of leaveTypeList|filter:search">
                    <td style="text-align: center;">{{list.short}}</td>
                    <td>
                        <img src="assets/images/edit.png"  [routerLink]="['/LeaveType',list.id]" style="width: 20px;">&nbsp;
                        <img src="assets/images/dell.png" style="width: 20px;" (click)="DeleteLeaveTypeMaster(list.id)">

                    </td>
                    


                </tr>
            </table>
        </div>
    </div>
    <br>
</div>
